adata.h5ad
combined_mouse_colon.h5ad
combined_mouse_colon_final.rds
adata_copy.h5ad
combined_copy.h5ad
SpatialPlots/
adata_sp_HC.h5ad
adata_sp_DSS.h5ad
.venv/
Spatial_paper/
X_raw.csv
cell_properties.csv
gene_names.csv
adata_genes.csv
missing_markers.csv
adata_hc.h5ad
celltypes_by_tier.csv
Plots/
Feature_Plots_Healthy/